<!DOCTYPE html>
<html>
  <head>
    <title>Addressbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
